<h1>Event:</h1>
<%= @event.title %><br>
<%= @event.description %><br>
<%= @event.location %><br>
<%= @event.date %><br>
<%= link_to "Back", root_path %><br>
<% if current_user && @event.creator != current_user && !@event.attendees.include?(current_user) && @event.invited_users.include?(current_user) %>
  <%= button_to "Attend this event", attendances_path(attendance: { attended_event_id: @event.id, attendee_id: current_user.id }) %>
<% elsif !@event.invited_users.include?(current_user) %>
<div class="text-warning">You have not been invited to this event</div>
<% else %>
  <div class="text-success">You have registered for this event.</div>
<% end %>
<br>

<h1>Attending this event</h1>
<% if @event.attendees.any? %>
  <% @event.attendees.each do |attendee| %>
    <%= attendee.email %><br>
  <% end %>
<% end %>