
<%= form_with model: @invitation do |form| %>
    <div class="card-body">
      <div class="mb-3">
        <%= form.label :invitation, class: "form-label"%>
        <%= form.email_field :invited_user_email, class: "form-control" %>
        <%= form.hidden_field :invited_event_id, :value => params[:invited_event_id] %>
      </div>
      <div class="d-grid gap-2 mb-3">
        <%= button_to "Send invitation", invitations_path, method: :post, class: "btn btn-primary"%>
      </div>
      <div class="d-grid gap-2">
        <%= link_to "Back to your events", user_show_path, class: "btn btn-primary"%>
      </div>
    </div>
  <% end %>