
<div class="mb-3 w-50">
  <%= link_to event.title, event %><br>
  <%= event.description %><br>
  <%= event.location %><br>
  <%= event.date %><br>
  <div class="d-flex ">
    <%= button_to "Delete", attendance_path(event), method: :delete, class: "btn btn-danger m-3" %>
    <%= link_to "Edit", edit_event_path(event), class: "btn btn-primary m-3" %>
    <%= link_to "Send invitation", new_invitation_path(invitation: { invited_event_id: event.id} ), class: "btn btn-primary m-3" %>
  </div>
</div>